extends layout.pug

block content
  main(role="main")

    //- Signup form
    form(action="/" method="post")
      label First Name
      input(type="text", name="firstname")
      label Last Name
      input(type="text", name="lastname")
      label E-mail
      input(type="text", name="email")
      label Password
      input(type="password", name="password")
      label Phone Number
      input(type="text", name="phone")
      label Address
      input(type="text", name="address")
      label Zip Code
      input(type="text", name="zipcode")
      label Country
      input(type="text", name="country")
      label Passport Number
      input(type="text", name="country")
      label Creditcard Number
      input(type="text", name="country")
      label Smoking preference
      select
        option(value="smokeyes") Smoking
        option(value="smokeno") Non-Smoking
      button(type="submit") Register

      hr

    //- Login form
    form(action="/" method="post")
      label E-mail
      input(type="text", name="email")
      label Password
      input(type="password", name="password")
      button(type="submit") Log In

      hr

    //- Check availability form
    form(action="/" method="post")
      label Arrival Date
      input(type="date" name="arrivaldate")
      label Departure Date
      input(type="date" name="departuredate")
      label Adults
      input(type="number" name="adults")
      label Children
      input(type="number" name="children")
      button(type="submit") Check Availability

      hr

    //- Booking form
    form(action="/" method="post")
    button(type="submit") Book This Room
