extends layout.pug

block content
  main(role="main")

    div.onevh.mb-0.background1
      div.container
        div.row.pagespacer

        div.row
          div.col
            h1.display-3 Finalize your booking

            div.bg-light
              div.p-3
                p.lead Thank you for choosing Hotel Delantar
                p Please take a moment to double-check your booking below. If you still have questions at this time, please do not hesitate to contact us via the contact details provided below. When you're done, please click the Confirm This Booking Button

                p.lead Trip Details
                P Arrival Date: #{arrivalDate}
                p Departure Date: #{departureDate}
                p Room Type: #{roomType}
                p Room Rate: #{roomRate}

                p.lead Personal Details
                P No personal life

            //- Display Result of Booking

            //- Booking Room Form
            form(action="/" method="post").d-inline-block.pt-3.pb-4.pr-2
              button.btn.btn-success(type="submit") Confirm This Booking
            form(action="/" method="post").d-inline-block.pt-3.pb-4
              button.btn.btn-danger(type="submit") Cancel This Booking

          div.col-md-4
