extends layout.pug

block content
  main(role="main")

    div.onevh.mb-0.background1
      div.container
        div.row.pagespacer

        div.row
          div.col
            h1.display-3 Confirmation

            div.bg-light
              div.p-3
                p.lead Thank you for booking with us!
                p A confirmation via e-mail is on the way.
