extends layout.pug

block content
  main(role="main")

    div.onevh.mb-0.background1
      div.container
        div.row.pagespacer

        div.row
          div.col
            h1.display-3 Error

            div.bg-light
              div.p-3
                p.lead An error occurred!
                p Something either went wrong with our servers or your connection to the internet. Please go back to the index page and try again.
