extends layout.pug

block content
  main(role="main")

    //- Main Welcome Block
    div.onevh.mb-0.background1
      div.container
        div.row.pagespacer
        div.row
          div.col-md-6.col-lg-8
            h1.display-3 Welcome Home
            p.lead Whether it's leisure or business, our accomodations will be sure to delight you.
            hr
            p.pt-3 Hotel Delantar is a boutique hotel situated in the bustling center of Amsterdam. Located in the famous Rokin, the hotel offers over 50 spacious rooms with excellent on-site facilities. Have a look around and be delighted!
          div.col-md-6.col-lg-4.p-0


            //- Check Availability Form
            //- This will display by default
            div#availability

              form(action="/availability" method="post").p-3.bg-light095
                div.container
                  div.row
                    div.col-12.form-group.pl-0.pr-0
                      label.mb-0 Arrival
                      input.form-control.onerem(type='date', name='arrivaldate' min='2017-12-01')
                    div.col-12.form-group.pl-0.pr-0
                      label.mb-0 Departure
                      input.form-control.onerem(type='date', name='departuredate' min='2017-12-01')
                  div.row
                    div.col-6.form-group.pl-0.pr-1
                      label.mb-0 Adults
                      input.form-control(type='number', name='adults' min='1' max='2')
                    div.col-6.form-group.pl-1.pr-0
                      label.mb-0 Children
                      input.form-control(type='number', name='children' min='1' max='2')
                button.btn.btn-info.btn-block(type='submit') Check Availability

            //- Log In Form
            //- This will display only when the login button in the navigation is clicked
            div#login
              form(action="/login" method="post").p-3.bg-light095
                div.container
                  div.row
                    div.col-12.form-group.pl-0.pr-0
                      label.mb-0 E-mail
                      input.form-control(type='text', name='email')
                    div.col-12.form-group.pl-0.pr-0
                      label.mb-0 Password
                      input.form-control(type='password', name='password' minlength='')
                button.btn.btn-info.btn-block(type='submit') Log In

    //- Rooms Block
    div#rooms.onevh.mb-0.bg-white
      div.container
        div.row.pagespacer
        div.row
          div.col
            h2.display-2 Doze Off
            p.lead Have a look at one of our rooms

        div.row.mb-3
          div.col-md-6.order-md-2.mb-3
            img.img-fluid(src='/images/2.jpg')
          div.col-md-6.order-md-1
            h3 Standard Room
            p.lead
              | There's hardly anything standard about our rooms. Experience pure comfort in a spacious 30m2 rooms designed for your comfort.
            button.btn.btn-info(type='button') Check Availability »

        div.row.mb-3
          div.col-md-6.mb-3
            img.img-fluid(src='/images/2.jpg')
          div.col-md-6
            h3 Deluxe Room
            p.lead
              | Need a bit more room? Our deluxe rooms were designed to make your stay as pleasant as possible. 40m2 of space, great views and free breakfast included.
            button.btn.btn-info(type='button') Check Availability »

        div.row.mb-3
          div.col-md-6.order-md-2.mb-3
            img.img-fluid(src='/images/2.jpg')
          div.col-md-6.order-md-1
            h3 Junior Suite
            p.lead
              | Spacious, modern and carefully layed out to make your time in our hotel as comfortable as possible. After a long day, relax in the special seating area and feel right at home. Our Junior Suites are 50m2 in size.
            button.btn.btn-info(type='button') Check Availability »

        div.row.mb-3
          div.col-md-6.mb-3
            img.img-fluid(src='/images/2.jpg')
          div.col-md-6
            h3 Executive Suite
            p.lead
              | Our luxurious 60m2 Executive Suite offers extra space with a separate lounge as well as a working desk for our business guests. At the top floor of our hotel, the room offers an excellent view of the city.
            button.btn.btn-info(type='button') Check Availability »

        div.row.pagespacer

    //- Retaurant Options Block
    div#fooddrinks.onevh.mb-0.bg-light
      div.container
        div.row.pagespacer
        div.row
          div.col
            h2.display-3 Wining & Dining
        div.row
          div.col-md-6
            p.lead
              | We are renowned locally for our great food and drinks options.
            p.lead
              | After a long day exploring everything our city has to offer, why not sit down for a bite in our restaurant. We offer breakfast, lunch and dinners in a relaxed, comfortable setting. Our chefs can prepare a wide variety of local and regional dishes, but feel free to aks if you are missing anything on the menu.
            p.lead
              | Ready for a night-cap or a refreshing drink right before dinner? Head over to our lounge bar. It's not the biggest in the business but definitely the cosiest. Careful, our bartenders like their music as chilled as the cocktail glasses.
          div.col-md-6
            img.img-fluid(src='/images/3.jpg')

        div.row.pagespacer

    //- About Us Block
    div#about.onevh.mb-0
      div.container
        div.row.pagespacer
        div.row
          div.col-md-6
            h2.display-3 About Us
            p.lead Thank you for taking the time to visit and consider us as an option for your next trip. If you have any questions about our hotel or our services, please do not hesitate to reach out to us - the phone never rings more than thrice.
            address
              strong Hotel Delantar
              br
              | Rokin 210
              br
              | 1012 MD Amsterdam
              br
              | The Netherlands
              br
            address
              strong Contact Us
              br
              | +31 (0) 20 000 9001
              br
              | contact@hoteldelantar.com

          div.col-md-6
            img.img-fluid(src='/images/4.jpg')

        div.row.pagespacer
