extends layout.pug

block content
  main(role="main")

    div.onevh.mb-0.background1
      div.container
        div.row.pagespacer

        div.row
          div.col-md-8
            h1.display-3 Register
            p.lead Please fill out your contact details below.
            p We value your privacy. The information you supply on the below form will be securely stored with us and will never be used for anything more than to manage your bookings.

        div.row
          div.col-md-8.bg-light095
            form(action="/register" method="post").pt-3.pb-4
              div.container
                div.row
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 First Name
                    input.form-control(type='text', name='firstname')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Last Name
                    input.form-control(type='text', name='lastname')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 E-Mail
                    input.form-control(type='text', name='email')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Password
                    input.form-control(type='password', name='password')
                    small Please make sure your password is at least eight characters long and is unique for this site.
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Phone Number
                    input.form-control(type='text', name='phone')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Address
                    input.form-control(type='text', name='address')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Zip Code
                    input.form-control(type='text', name='zipcode')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Country
                    input.form-control(type='password', name='country')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Passport Number
                    input.form-control(type='text', name='passport')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Creditcard Number
                    input.form-control(type='text', name='creditcard')
                  div.col-12.form-group.pl-0.pr-0
                    label.mb-0 Room Preference
                    input.form-control(type='text', name='roompreference')
                  div.col-12.form-group.pl-0.pr-0
                    label Smoking preference
                    select.form-control
                      option(value='smokeyes') Smoking
                      option(value='smokeno') Non-Smoking
                    small Although we will do our best, please be aware we may not always be able to accomodate your smoking preferences.
              button.btn.btn-info.btn-block(type='submit') Register
          div.col-4
